<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <!-- 主页控制台 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6eb;</i>
                    <cite>主页</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href="{:url('index/main')}"><i class="iconfont">&#xe6a7;</i><cite>控制台</cite></a></li >
                </ul>
            </li>

            <!-- 管理员 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('admin/recycle')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>回收站</cite>
                        </a>
                    </li>
                </ul>
            </li>  
            
            <!-- 用户 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('user/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('user/recycle')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>回收站</cite>
                            
                        </a>
                    </li>
                    
                </ul>
            </li>

            <!-- 订单管理 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe69e;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('order/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('order/recycle')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>回收站</cite>
                        </a>
                    </li >
                </ul>
            </li>

            <!-- 商品管理 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href="html/grid.html"><i class="iconfont">&#xe6a7;</i><cite>商品大全</cite></a></li>
                    <li><a _href="html/welcome2.html"><i class="iconfont">&#xe6a7;</i><cite>商品分类</cite></a></li>
                </ul>
            </li>


            <!-- 充值管理 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6e4;</i>
                    <cite>充值记录</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="html/unicode.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>未审核记录</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/unicode.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已审核记录</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/unicode.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已拒接记录</cite>
                        </a>
                    </li>
                </ul>
            </li>
            
            
            <li>
                <a href="javascript:;"><i class="iconfont">&#xe6f6;</i><cite>数据统计</cite><i class="iconfont nav_right">&#xe6a7;</i></a>
                <ul class="sub-menu">
                    <li><a _href="html/upload.html"><i class="iconfont">&#xe6a7;</i><cite>订单统计</cite></a></li>
                    <li><a _href="html/page.html"><i class="iconfont">&#xe6a7;</i><cite>用户量统计</cite></a></li>
                    <li><a _href="html/cate.html"><i class="iconfont">&#xe6a7;</i><cite>充值统计</cite></a></li>
                    <li><a _href="html/carousel.html"><i class="iconfont">&#xe6a7;</i><cite>库存统计</cite></a></li>
                </ul>
            </li>
            
                    
            
                     
                                
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>进销存管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="html/echarts1.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品入库记录</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/echarts2.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>添加入库记录</cite>
                        </a>
                    </li>
                </ul>
            </li>            
        </ul>
    </div>
</div>
  <!-- 左侧菜单结束 -->