<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>欢迎页面-L-admin1.0</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/admin/css/font.css">
  <link rel="stylesheet" href="/static/admin/css/xadmin.css">
  <script src="/static/admin/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">订单管理</a>
        <a>
          <cite>回收站</cite></a>
      </span>
  <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
  </xblock>
  <table class="layui-table">
    <thead>
    <tr>
      <th>
        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
      </th>
      <th>订单编号</th>
      <th>收货人</th>
      <th>总金额</th>
      <th>留言内容</th>
      <th>订单状态</th>
      <th>下单时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name='order' id="vo"}
    <tr>
      <td>
        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.id}'><i class="layui-icon">&#xe605;</i></div>
      </td>
      <td>{$vo.code}</td>
      <td>{$vo.consignee}</td>
      <td>{$vo.total}</td>
      <td>{$vo.content}</td>
      <td>{$vo.status}</td>
      <td>{$vo.createtime}</td>
      <td class="td-manage">
        <a title="查看"  onclick="x_admin_show('查看','order-view.html')" href="javascript:;">
          <i class="layui-icon">&#xe63c;</i>
        </a>
        <a title="删除" onclick="order_del(this,'{$vo.id}')" href="javascript:;">
          <i class="layui-icon">&#xe640;</i>
        </a>
      </td>
    </tr>
    {/volist}
    </tbody>
  </table>
  <div class="page">
    <div>
      <a class="prev" href="">&lt;&lt;</a>
      <a class="num" href="">1</a>
      <span class="current">2</span>
      <a class="num" href="">3</a>
      <a class="num" href="">489</a>
      <a class="next" href="">&gt;&gt;</a>
    </div>
  </div>

</div>
<script>
  layui.use('laydate', function(){
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
      elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#end' //指定元素
    });
  });

  /*订单-删除*/
  function order_del(obj,id){
    layer.confirm('确认要删除吗？',function(index){
      //发异步删除数据
      $.ajax({
        url: '{:url(\'order/delone\')}',
        type: 'GET',
        data: 'id='+id,
        dataType: 'text',
        success: function(z){
          var res = JSON.parse(z);
          if (res.code === 1){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
          }else {
            layer.msg(res.msg,{icon:1,time:1000});
          }
        }
      })
    });
  }

  function delAll (argument) {

    var data = tableCheck.getData();
    // console.log(data);
    // return false;
    layer.confirm('确认要删除吗？'+data,function(index){
      //捉到所有被选中的，发异步进行删除
      $.ajax({
        url: '{:url(\'order/delall\')}',
        type: 'GET',
        data: 'data='+data,
        dataType: 'text',
        success: function(z){
          var res = JSON.parse(z);
          if(res.code == 1){
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
          }else{
            layer.msg(res.msg,{icon: 5,time:1000});
          }
        }
      })
    });
  }
</script>
</body>

</html>